$moduleImagesDir: "board-faq";

.board-faq-list{
	dt{
		margin-bottom: 3px;
		background-color: #f0f0f0;
		@include image(faq-list, png, no-repeat, 0 50%);
	    cursor: pointer;
	    
		>span{
			display: block;
			padding: 9px 60px 10px 55px;
			@include image(info-list, png, no-repeat, 100% 50%);
			font-size: 14px;
			line-height: 1.5em;
			color: #333333;
		}
	}
	dd{
	    display: none;
	    margin: 16px 0;
	    min-height: 50px;
	    padding-left: 55px;
		@include image(faq-list-2, png, no-repeat, 0 4px);
	    
	    &.on{
	    	display: block;
	    }
	}
}
