<!DOCTYPE html>
<html lang="ko-KR">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="국토교통 통계알리미 홈페이지 입니다." />
<title>국토교통 통계알리미</title>
<link rel="stylesheet" href="../resources/front/css/style.css" />
<script src="../resources/front-vendor/jquery.min.js"></script>
<!--[if lt IE 9]><script src="../resources/front-vendor/jquery-1.12.0.min.js"></script><![endif]-->
<script src="../resources/front/js/script.js"></script>
<body class="layout-modal">
<h1>멤버 상세보기</h1>
<div class="board-gallery-introduce-view">
    <div class="profile">
        <div class="image"> <span style="background-image: url(../resources/front/images/@sample-board.png);"></span> </div>
        <p class="subject"> <strong>알리리요</strong></p>
        <span class="addon"><span class="label label-default">팀장</span> 이명우 팀장</span>
    </div>
    <div class="content">
        <h2 class="heading">팀소개</h2>
        <p>안녕하세요... 알리리요는 창의적이고 생기 있는 통계 창작물을 생산하여 이용자가 
            한눈에 쉽고 편리하게 이용할 수 있는 자료를 제공함으로써 국민들의 이해의 폭을 
            넓히고 공감대를 형성할 수 있도록 노력하는 팀입니다.</p>
        <h2 class="heading">멤버소개</h2>
        <ul class="members">
            <li>
                <span class="label label-default">팀장</span>
                <span class="name">이명우</span>
                <span class="contact">
                    <strong>T.</strong> 010-2020-0022
                    <strong>M.</strong> company@gmail.com
                </span>
                <a href="#" class="sns-twitter"><span class="sr-only">트위터</span></a>
                <a href="#" class="sns-facebook"><span class="sr-only">페이스북</span></a>
            </li>
            <li>
                <span class="label label-default">팀원</span>
                <span class="name">이명우</span>
                <span class="contact">
                    <strong>T.</strong> 010-2020-0022
                    <strong>M.</strong> company@gmail.com
                </span>
                <span class="sns-twitter"><span class="sr-only">트위터</span></span>
                <span class="sns-facebook"><span class="sr-only">페이스북</span></span>
            </li>
            <li>
                <span class="name">이명우</span>
                <span class="contact">
                    <strong>T.</strong> 010-2020-0022
                    <strong>M.</strong> company@gmail.com
                </span>
                <span class="sns-twitter"><span class="sr-only">트위터</span></span>
                <span class="sns-facebook"><span class="sr-only">페이스북</span></span>
            </li>
            <li>
                <span class="name">이명우</span>
                <span class="contact">
                    <strong>T.</strong> 010-2020-0022
                    <strong>M.</strong> company@gmail.com
                </span>
                <span class="sns-twitter"><span class="sr-only">트위터</span></span>
                <span class="sns-facebook"><span class="sr-only">페이스북</span></span>
            </li>
            <li>
                <span class="name">이명우</span>
                <span class="contact">
                    <strong>T.</strong> 010-2020-0022
                    <strong>M.</strong> company@gmail.com
                </span>
                <span class="sns-twitter"><span class="sr-only">트위터</span></span>
                <span class="sns-facebook"><span class="sr-only">페이스북</span></span>
            </li>
            <li>
                <span class="name">이명우</span>
                <span class="contact">
                    <strong>T.</strong> 010-2020-0022
                    <strong>M.</strong> company@gmail.com
                </span>
                <span class="sns-twitter"><span class="sr-only">트위터</span></span>
                <span class="sns-facebook"><span class="sr-only">페이스북</span></span>
            </li>
            <li>
                <span class="name">이명우</span>
                <span class="contact">
                    <strong>T.</strong> 010-2020-0022
                    <strong>M.</strong> company@gmail.com
                </span>
                <span class="sns-twitter"><span class="sr-only">트위터</span></span>
                <span class="sns-facebook"><span class="sr-only">페이스북</span></span>
            </li>
        </ul>
    </div>
</div>
</body>
</html>