<!DOCTYPE html>
<html lang="ko-KR">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="국토교통 통계알리미 홈페이지 입니다." />
<title>국토교통 통계알리미</title>
<link rel="stylesheet" href="../resources/front/css/style.css" />
<script src="../resources/front-vendor/jquery.min.js"></script>
<!--[if lt IE 9]><script src="../resources/front-vendor/jquery-1.12.0.min.js"></script><![endif]-->
<script src="../resources/front/js/script.js"></script>
<body class="layout-front-page">
<div id="wrap">
    <div class="site-header">
        <h1 class="site-logo"><a href="index.html"><span class="sr-only">국토교통 통계알리미</span></a></h1>
        <div class="lnb">
            <ul>
                <li>
                    <a href="page-introduce.html">통계알리미란?</a>
                </li>
                <li>
                    <a href="page-member.html">멤버소개</a>
                </li>
                <li class="has-children">
                    <a href="page-alerts-quarter.html">알리미 활동</a>
                    <ul style="margin-top: -72px;">
                        <li><a href="page-alerts-quarter.html">분기별 미션</a></li>
                        <li><a href="page-alerts-report.html">알리미 보고서</a></li>
                        <li><a href="page-alerts-data.html">자료실</a></li>
                        <li><a href="page-alerts-free.html">자유게시판</a></li>
                    </ul>
                </li>
                <li>
                    <a href="page-support.html">알리미 지원</a>
                </li>
            </ul>
        </div>
        <div class="guide">
            <div class="gnb">
                <ul>
                    <li class="gnb-home"><a href="#">홈으로</a></li>
                    <li><a href="page-login.html">로그인</a></li>
                    <li><a href="page-join.html">회원가입</a></li>
                </ul>
            </div>
            <div class="info">
                <ul>
                    <li><a href="#">국토교통 통계누리</a></li>
                    <li><a href="#">국토교통부</a></li>
                    <li><a href="#">저작권보호정책</a></li>
                    <li><a href="#">개인정보처리방침</a></li>
                </ul>
            </div>
        </div>
        <div class="handle">
            <a href="#sitemap" class="toggle-sitemap">전체<br>메뉴</a>
            <a href="#goto-and-top" class="goto-and-top"><span class="sr-only">맨 위로</span></a>
        </div>
    </div>
    <div id="container">
        <!-- Start layout-front-page addon -->
        <div id="content">
            <ul class="breadcrumbs">
                <li><a href="#">홈</a></li>
                <li><a href="#">회원가입</a></li>
            </ul>
            <h2 class="page-title">회원가입 <span>국토교통 통계알리미 회원가입을 환영합니다.</span></h2>
            <div class="page-content">
                <!-- Start Page Content -->
                <form action="page-join-complete.html">
                    <div class="page-join">
                        <p class="guide">통계알리미 사이트는 <strong>국토교통부 통계알리미 활동멤버</strong>를 위하여 운영되고 있습니다.<br>
                        담당자의 승인절차 후에 가입이 처리됩니다.</p>
                        <table class="crud-form">
                            <tbody>
                                <tr>
                                    <th><label class="form-label" for="id1">아이디</label></th>
                                    <td><input type="text" id="id1" class="form-control" name="" value="내용" style="width: 50%;">
                                        <a href="#" class="btn btn-normal btn-sm">중복확인</a></td>
                                </tr>
                                <tr>
                                    <th><label class="form-label" for="id1">비밀번호</label></th>
                                    <td><input type="password" id="id1" class="form-control" name="" value="내용" style="width: 50%;"></td>
                                </tr>
                                <tr>
                                    <th><label class="form-label" for="id1">비밀번호 확인</label></th>
                                    <td><input type="password" id="id1" class="form-control" name="" value="내용" style="width: 50%;"></td>
                                </tr>
                                <tr>
                                    <th><label class="form-label" for="id1">이름</label></th>
                                    <td><input type="text" id="id1" class="form-control" name="" value="내용" style="width: 50%;"></td>
                                </tr>
                                <tr>
                                    <th><label class="form-label" for="id1">이메일</label></th>
                                    <td>
                                        <input type="text" id="id1" class="form-control" name="" value="내용" style="width: 50%;">
                                        <span class="options">
                                            <input type="radio" id="id1" checked="checked" /> <label for="id1">비공개</label>
                                            <input type="radio" id="id1" /> <label for="id1">공개</label>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <th><label class="form-label" for="id1">전화번호</label></th>
                                    <td>
                                        <input type="text" id="id1" class="form-control" name="" value="내용" style="width: 10%;"> - 
                                        <input type="text" id="id1" class="form-control" name="" value="내용" style="width: 14%;"> - 
                                        <input type="text" id="id1" class="form-control" name="" value="내용" style="width: 14%;">
                                        <span class="options">
                                            <input type="radio" id="id1" checked="checked" /> <label for="id1">비공개</label>
                                            <input type="radio" id="id1" /> <label for="id1">공개</label>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <th><label class="form-label" for="id1">주소</label></th>
                                    <td><input type="text" id="id1" class="form-control" name="" value="내용"></td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="btns">
                            <input type="submit" class="btn btn-primary btn-lg" value="가입신청" />
                            <a href="page-alerts-quarter.html" class="btn btn-default btn-lg">취소하기</a>
                        </div>
                    </div>
                </form>
                <!-- End Page Content -->
            </div>
        </div>
        <!-- End layout-front-page addon -->
    </div>
    <div class="site-footer">
        <div class="container">
            <div class="copyright">
                <p>Copyrights © <strong>Ministry of Land, Infrastructure and Transport.</strong> All Rights Reserved.</p>
            </div>
            <div class="familysite">
                <a href="#familysite-toggle">관련사이트 바로가기</a>
                <ul>
                	<li><a href="#">가나다 사이트</a></li>
                	<li><a href="#">가나다 사이트</a></li>
                	<li><a href="#">가나다 사이트</a></li>
                	<li><a href="#">가나다 사이트</a></li>
                	<li><a href="#">가나다 사이트</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="sitemap">
    <ul>
    	<li class="has-children">
            <a href="page-introduce.html">통계알리미란?</a>
            <ul>
                <li><a href="page-introduce.html">통계알리미란?</a></li>
            </ul>
        </li>
    	<li class="has-children">
            <a href="page-member.html">멤버소개</a>
            <ul>
                <li><a href="page-member.html">멤버소개</a></li>
            </ul>
        </li>
        <li class="has-children">
            <a href="page-alerts-quarter.html">알리미 활동</a>
            <ul>
                <li><a href="page-alerts-quarter.html">분기별 미션</a></li>
                <li><a href="page-alerts-report.html">알리미 보고서</a></li>
                <li><a href="page-alerts-data.html">자료실</a></li>
                <li><a href="page-alerts-free.html">자유게시판</a></li>
            </ul>
        </li>
    	<li class="has-children">
            <a href="page-support.html">알리미 지원</a>
            <ul>
                <li><a href="page-support.html">지원서 작성</a></li>
                <li><a href="page-support.html">지권서 수정</a></li>
            </ul>
        </li>
    </ul>
    <a href="#sitemap" class="close"><span class="sr-only">전체메뉴 닫기</span></a>
    <span class="bg"></span>
</div>
</body>
</html>