<!DOCTYPE html>
<html lang="ko-KR">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="국토교통 통계알리미 홈페이지 입니다." />
<title>국토교통 통계알리미</title>
<link rel="stylesheet" href="../resources/front/css/style.css" />
<script src="../resources/front-vendor/jquery.min.js"></script>
<!--[if lt IE 9]><script src="../resources/front-vendor/jquery-1.12.0.min.js"></script><![endif]-->
<script src="../resources/front/js/script.js"></script>
<body class="layout-front-page">
<div id="wrap">
    <div class="site-header">
        <h1 class="site-logo"><a href="index.html"><span class="sr-only">국토교통 통계알리미</span></a></h1>
        <div class="lnb">
            <ul>
                <li>
                    <a href="page-introduce.html">통계알리미란?</a>
                </li>
                <li>
                    <a href="page-member.html">멤버소개</a>
                </li>
                <li class="has-children on">
                    <a href="page-alerts-quarter.html">알리미 활동</a>
                    <ul style="margin-top: -72px;">
                        <li class="on"><a href="page-alerts-quarter.html">분기별 미션</a></li>
                        <li><a href="page-alerts-report.html">알리미 보고서</a></li>
                        <li><a href="page-alerts-data.html">자료실</a></li>
                        <li><a href="page-alerts-free.html">자유게시판</a></li>
                    </ul>
                </li>
                <li>
                    <a href="page-support.html">알리미 지원</a>
                </li>
            </ul>
        </div>
        <div class="guide">
            <div class="gnb">
                <ul>
                    <li class="gnb-home"><a href="#">홈으로</a></li>
                    <li><a href="page-login.html">로그인</a></li>
                    <li><a href="page-join.html">회원가입</a></li>
                </ul>
            </div>
            <div class="info">
                <ul>
                    <li><a href="#">국토교통 통계누리</a></li>
                    <li><a href="#">국토교통부</a></li>
                    <li><a href="#">저작권보호정책</a></li>
                    <li><a href="#">개인정보처리방침</a></li>
                </ul>
            </div>
        </div>
        <div class="handle">
            <a href="#sitemap" class="toggle-sitemap">전체<br>메뉴</a>
            <a href="#goto-and-top" class="goto-and-top"><span class="sr-only">맨 위로</span></a>
        </div>
    </div>
    <div id="container">
        <!-- Start layout-front-page addon -->
        <div id="content">
            <ul class="breadcrumbs">
                <li><a href="#">홈</a></li>
                <li><a href="#">알리미활동</a></li>
                <li><a href="#">분기별 미션</a></li>
            </ul>
            <h2 class="page-title">분기별 미션 <span>분기별 알리미 보고서를 등록합니다.</span></h2>
            <div class="page-content">
                <!-- Start Page Content -->
                <table class="crud-form">
                    <tbody>
                        <tr>
                            <th>제목</th>
                            <td class="subject">대한민국 국토통계를 간편화시스템A</td>
                        </tr>
                        <tr>
                            <th>팀명</th>
                            <td>WONDERFUL DAY #1, 2016</td>
                        </tr>
                        <tr>
                            <th>팀원</th>
                            <td>서강준, 박혜진, 김고은, 이영아, 최아영</td>
                        </tr>
                        <tr>
                            <th>작성자</th>
                            <td>서강준</td>
                        </tr>
                        <tr>
                            <th>내용</th>
                            <td>국토교통부(장관:강호인)는 작년 12월말 기준으로 전국의 미분양 주택은 전월(49,724호)대비 23.7%(11,788호) 증가한 <br>
                            총 61,512호로집계된 반면, 준공후 미분양은 작년 12월말 현재 전월(10,477호)대비 0.4%(41호) 증가한 10,518호로 <br>
                            집계되었다고 밝혔다.<br>
                                    2015.9월 32,524호 → `15.10월 32,221호 → `15.11월 49,724호 → `15.12월 61,512호<br>
                                    2015.9월 11,477호 → `15.10월 10,792호 → `15.11월 10,477호 → `15.12월 10,518호<br>
                            지역별로 전체 미분양 물량을 보면, 수도권의 미분양은 30,637호로, 전월(26,578호) 대비 15.3%(4,059호) 증가하였고,<br> 
                            지방은 30,875호로, 전월(23,146호) 대비 33.4%(7,729호) 증가하였다.<br>
                            신규 등 증가분 : ’15.11월 21,239호 → ’15.12월 18,210호(수도권 7,934호, 지방 10,276호)<br>
                            기존 미분양 해소분 : ’15.11월 3,736호 → ’15.12월 6,422호(수도권 3,875호, 지방 2,547호)</td>
                        </tr>
                        <tr>
                            <th>첨부</th>
                            <td>국토교통 통계 알리미 보고서 기획안.ppt<br>
                                2015년도 국토교통 통계 보고서 안(기재부 안).hwp<br>
                         국토교통 통계 알리미 보고서 기획안_2안.ppt</td>
                        </tr>
                    </tbody>
                </table>
                <div class="btns">
                    <a href="page-alerts-quarter-form.html" class="btn btn-primary btn-lg">수정하기</a>
                    <a href="page-alerts-quarter.html" class="btn btn-danger btn-lg" onclick="return confirm('정말로 삭제하시겠습니까?');">삭제하기</a>
                    <a href="page-alerts-quarter.html" class="btn btn-default btn-lg">목록보기</a>
                </div>
                <div class="sample">
                    <form class="bs-example" data-example-id="btn-tags">
                        <a class="btn btn-default" href="#" role="button">버튼버튼</a>
                        <button class="btn btn-default" type="submit">버튼버튼</button>
                        <input class="btn btn-default" type="button" value="버튼버튼">
                        <input class="btn btn-default" type="submit" value="버튼버튼">
                    </form>
                    <div class="bs-example" data-example-id="btn-variants">
                        <button type="button" class="btn btn-default">버튼버튼</button>
                        <button type="button" class="btn btn-primary">버튼버튼</button>
                        <button type="button" class="btn btn-success">버튼버튼</button>
                        <button type="button" class="btn btn-info">버튼버튼</button>
                        <button type="button" class="btn btn-warning">버튼버튼</button>
                        <button type="button" class="btn btn-danger">버튼버튼</button>
                        <button type="button" class="btn btn-normal">버튼버튼</button>
                        <button type="button" class="btn btn-link">버튼버튼</button>
                    </div>
                    <div class="bs-example" data-example-id="btn-sizes">
                        <p>
                            <button type="button" class="btn btn-primary btn-lg">버튼버튼</button>
                            <button type="button" class="btn btn-default btn-lg">버튼버튼</button>
                        </p>
                        <p>
                            <button type="button" class="btn btn-primary">버튼버튼</button>
                            <button type="button" class="btn btn-default">버튼버튼</button>
                        </p>
                        <p>
                            <button type="button" class="btn btn-primary btn-sm">버튼버튼</button>
                            <button type="button" class="btn btn-default btn-sm">버튼버튼</button>
                        </p>
                        <p>
                            <button type="button" class="btn btn-primary btn-xs">버튼버튼</button>
                            <button type="button" class="btn btn-default btn-xs">버튼버튼</button>
                        </p>
                    </div>
                </div>
                <!-- End Page Content -->
            </div>
        </div>
        <!-- End layout-front-page addon -->
    </div>
    <div class="site-footer">
        <div class="container">
            <div class="copyright">
                <p>Copyrights © <strong>Ministry of Land, Infrastructure and Transport.</strong> All Rights Reserved.</p>
            </div>
            <div class="familysite">
                <a href="#familysite-toggle">관련사이트 바로가기</a>
                <ul>
                	<li><a href="#">가나다 사이트</a></li>
                	<li><a href="#">가나다 사이트</a></li>
                	<li><a href="#">가나다 사이트</a></li>
                	<li><a href="#">가나다 사이트</a></li>
                	<li><a href="#">가나다 사이트</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="sitemap">
    <ul>
    	<li class="has-children">
            <a href="page-introduce.html">통계알리미란?</a>
            <ul>
                <li><a href="page-introduce.html">통계알리미란?</a></li>
            </ul>
        </li>
    	<li class="has-children">
            <a href="page-member.html">멤버소개</a>
            <ul>
                <li><a href="page-member.html">멤버소개</a></li>
            </ul>
        </li>
        <li class="has-children">
            <a href="page-alerts-quarter.html">알리미 활동</a>
            <ul>
                <li><a href="page-alerts-quarter.html">분기별 미션</a></li>
                <li><a href="page-alerts-report.html">알리미 보고서</a></li>
                <li><a href="page-alerts-data.html">자료실</a></li>
                <li><a href="page-alerts-free.html">자유게시판</a></li>
            </ul>
        </li>
    	<li class="has-children">
            <a href="page-support.html">알리미 지원</a>
            <ul>
                <li><a href="page-support.html">지원서 작성</a></li>
                <li><a href="page-support.html">지권서 수정</a></li>
            </ul>
        </li>
    </ul>
    <a href="#sitemap" class="close"><span class="sr-only">전체메뉴 닫기</span></a>
    <span class="bg"></span>
</div>
</body>
</html>