<!DOCTYPE html>
<html lang="ko-KR">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="국토교통 통계알리미 홈페이지 입니다." />
<title>국토교통 통계알리미</title>
<link rel="stylesheet" href="../resources/front/css/style.css" />
<script src="../resources/front-vendor/jquery.min.js"></script>
<!--[if lt IE 9]><script src="../resources/front-vendor/jquery-1.12.0.min.js"></script><![endif]-->
<script src="../resources/front/js/script.js"></script>
<body class="layout-front-page">
<div id="wrap">
    <div class="site-header">
        <h1 class="site-logo"><a href="index.html"><span class="sr-only">국토교통 통계알리미</span></a></h1>
        <div class="lnb">
            <ul>
                <li>
                    <a href="page-introduce.html">통계알리미란?</a>
                </li>
                <li>
                    <a href="page-member.html">멤버소개</a>
                </li>
                <li class="has-children on">
                    <a href="page-alerts-quarter.html">알리미 활동</a>
                    <ul style="margin-top: -72px;">
                        <li><a href="page-alerts-quarter.html">분기별 미션</a></li>
                        <li class="on"><a href="page-alerts-report.html">알리미 보고서</a></li>
                        <li><a href="page-alerts-data.html">자료실</a></li>
                        <li><a href="page-alerts-free.html">자유게시판</a></li>
                    </ul>
                </li>
                <li>
                    <a href="page-support.html">알리미 지원</a>
                </li>
            </ul>
        </div>
        <div class="guide">
            <div class="gnb">
                <ul>
                    <li class="gnb-home"><a href="#">홈으로</a></li>
                    <li><a href="page-login.html">로그인</a></li>
                    <li><a href="page-join.html">회원가입</a></li>
                </ul>
            </div>
            <div class="info">
                <ul>
                    <li><a href="#">국토교통 통계누리</a></li>
                    <li><a href="#">국토교통부</a></li>
                    <li><a href="#">저작권보호정책</a></li>
                    <li><a href="#">개인정보처리방침</a></li>
                </ul>
            </div>
        </div>
        <div class="handle">
            <a href="#sitemap" class="toggle-sitemap">전체<br>메뉴</a>
            <a href="#goto-and-top" class="goto-and-top"><span class="sr-only">맨 위로</span></a>
        </div>
    </div>
    <div id="container">
        <!-- Start layout-front-page addon -->
        <div id="content">
            <ul class="breadcrumbs">
                <li><a href="#">홈</a></li>
                <li><a href="#">알리미활동</a></li>
                <li><a href="#">알리미 보고서</a></li>
            </ul>
            <h2 class="page-title">알리미 보고서 <span>분기별 등록된 알리미 보고서를 조회합니다.</span></h2>
            <div class="page-content">
                <!-- Start Page Content -->
                <table class="crud-form">
                    <tbody>
                        <tr>
                            <th>제목</th>
                            <td class="subject">대한민국 국토통계를 간편화시스템A <span class="label label-best">최우수</span></td>
                        </tr>
                        <tr>
                            <th>팀명</th>
                            <td>WONDERFUL DAY #1, 2016</td>
                        </tr>
                        <tr>
                            <th>팀장</th>
                            <td>이성원</td>
                        </tr>
                        <tr>
                            <th>팀원</th>
                            <td>서강준, 박혜진, 김고은, 이영아, 최아영</td>
                        </tr>
                    </tbody>
                </table>
                <div class="crud-view-content">
                    <p>국토교통 통계누리의 석유사용량을 참고하여 작성하였습니다.</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p style="font-size: 16px; font-weight: bold;">우리나라 석유 누가누가  많이 쓰나?</p>
                    <p>우리 삶에서 가장 큰 비중을 차지하는 에너지는 석유 에너지인데요. 우리나라는 석유를 어디서 가져오는 걸까요?</p>
                    <p>여러분도 석유의 고향이 궁금하지 않으세요?</p>
                    <img src="../resources/front/images/@sample-content.png" alt="" />
                    
                    
                    
                    <ul class="files">
                        <li>
                            <a href="/front/community/free/file-load?id=18&amp;fileId=732" class="btn btn-link btn-xs" target="_blank">예술디자인대학원전공별교육과정(2016-2017).xlsx</a>
                        </li>
                    </ul>
                </div>
                <div class="crud-comments">
                    <ul>
                        <li>
                            <span class="image no-image"></span>
                            <strong class="subject">홍길동</strong>
                            <span class="content">
                        우리사회 전반의 현실은 결코 만만치 않습니다. 중앙정부의 발전차액지원제도가 없어졌고, 
                        입찰과 현물시장에서 태양광 전력의 판매가격은 엄청남...
                            </span>
                            <span class="datetime">2015-08-26 16:35:27</span>
                            <span class="btn-group">
                                <a href="#" class="btn btn-normal btn-xs">수정</a>
                                <a href="#" class="btn btn-normal btn-xs">삭제</a>
                            </span>
                        </li>
                        <li>
                            <span class="image no-image"></span>
                            <strong class="subject">홍길동</strong>
                            <span class="content">
                        우리사회 전반의 현실은 결코 만만치 않습니다. 중앙정부의 발전차액지원제도가 없어졌고, 
                        입찰과 현물시장에서 태양광 전력의 판매가격은 엄청남...
                            </span>
                            <span class="datetime">2015-08-26 16:35:27</span>
                            <span class="btn-group">
                                <a href="#" class="btn btn-normal btn-xs">수정</a>
                                <a href="#" class="btn btn-normal btn-xs">삭제</a>
                            </span>
                        </li>
                        <li>
                            <span class="image no-image"></span>
                            <strong class="subject">홍길동</strong>
                            <span class="content">
                        우리사회 전반의 현실은 결코 만만치 않습니다. 중앙정부의 발전차액지원제도가 없어졌고, 
                        입찰과 현물시장에서 태양광 전력의 판매가격은 엄청남...
                            </span>
                            <span class="datetime">2015-08-26 16:35:27</span>
                            <span class="btn-group">
                                <a href="#" class="btn btn-normal btn-xs">수정</a>
                                <a href="#" class="btn btn-normal btn-xs">삭제</a>
                            </span>
                        </li>
                    </ul>
                </div>
                <div class="btns">
                    <a href="page-alerts-report.html" class="btn btn-primary btn-lg">수정하기</a>
                    <a href="page-alerts-report.html" class="btn btn-danger btn-lg" onclick="return confirm('정말로 삭제하시겠습니까?');">삭제하기</a>
                    <a href="page-alerts-report.html" class="btn btn-default btn-lg">목록보기</a>
                </div>
                <!-- End Page Content -->
            </div>
        </div>
        <!-- End layout-front-page addon -->
    </div>
    <div class="site-footer">
        <div class="container">
            <div class="copyright">
                <p>Copyrights © <strong>Ministry of Land, Infrastructure and Transport.</strong> All Rights Reserved.</p>
            </div>
            <div class="familysite">
                <a href="#familysite-toggle">관련사이트 바로가기</a>
                <ul>
                	<li><a href="#">가나다 사이트</a></li>
                	<li><a href="#">가나다 사이트</a></li>
                	<li><a href="#">가나다 사이트</a></li>
                	<li><a href="#">가나다 사이트</a></li>
                	<li><a href="#">가나다 사이트</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="sitemap">
    <ul>
    	<li class="has-children">
            <a href="page-introduce.html">통계알리미란?</a>
            <ul>
                <li><a href="page-introduce.html">통계알리미란?</a></li>
            </ul>
        </li>
    	<li class="has-children">
            <a href="page-member.html">멤버소개</a>
            <ul>
                <li><a href="page-member.html">멤버소개</a></li>
            </ul>
        </li>
        <li class="has-children">
            <a href="page-alerts-quarter.html">알리미 활동</a>
            <ul>
                <li><a href="page-alerts-quarter.html">분기별 미션</a></li>
                <li><a href="page-alerts-report.html">알리미 보고서</a></li>
                <li><a href="page-alerts-data.html">자료실</a></li>
                <li><a href="page-alerts-free.html">자유게시판</a></li>
            </ul>
        </li>
    	<li class="has-children">
            <a href="page-support.html">알리미 지원</a>
            <ul>
                <li><a href="page-support.html">지원서 작성</a></li>
                <li><a href="page-support.html">지권서 수정</a></li>
            </ul>
        </li>
    </ul>
    <a href="#sitemap" class="close"><span class="sr-only">전체메뉴 닫기</span></a>
    <span class="bg"></span>
</div>
</body>
</html>